:root {
    --primary: #00b3ff;
    --secondary: #1EAFED;
    --tertiary: #ea168e;
    --light-bg: #E0E5EC;
    --dark-bg: #080708;
}

body {
    overflow-x: hidden;
    transition: ease-in-out 0.2s;
    background-color: var(--dark-bg);
}

*body {
    transition: 0.5s;
    min-width: 50%;
    max-width: 75%;
    max-height: 100%;
    display: inline-grid;
    overflow-x: hidden;
}

.landing {
    position: relative;
    top: 5%;
    display: flex;
    min-height: 30%;
    width: 100%;
}

.landing #supermainheading{
    text-align: center;
}

.nav{
    top: 5%;
    width: 50%;
    margin: auto
}

.nav .nav_container{
    width: 70%;
    margin: auto;
}

.nav p, .nav a { 
    text-decoration: none;
    background-color: var(--tertiary);
    color: white;
    font-family: "Poppins";
    padding: 3%;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.landing #supermainheading {
    font-family: 'Playfair Display', sans-serif;
    left: 20%;
    top: 25%;
    color: var(--secondary);
    font-weight: 900;
    font-size: 70px;
    z-index: 10;
    min-width: 100%;
    margin-bottom: auto;
}


.about {
    position: relative;
    transition: ease-in-out 0.2s;
    color: var(--primary);
    display: inline-block;
    font-family: 'Poppins';
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-weight: 400;

}

.about h3 {
    text-align: left;
}

.about p{
    text-align: left;
}

.about #highlight a {
    text-decoration: none;
}


.about #highlight{
    color: var(--tertiary);
    display: inline-grid;
    font-weight: 500;
}

.links {
    top: 30%;
    display: inline-block;
    position: fixed;
    right: 5%;
    justify-content: center;
    vertical-align: middle;
}

.links a img {
    height: 25px;
    filter: brightness(1000%);
    width: 25px;
}

.links a {
    padding: 10px;
    margin: 10px;
    transition: ease-out 0.2s;
    display: flex;
    background-color: var(--secondary);
    border-radius: 10px;
}
.links a:hover {
    transition: ease-in 0.2s;
    filter: none;
    background-color: var(--tertiary);
    
}

#personalize {
    display: inline;
}

#programming {
    display: none;
}

#graphics{
    display: none;
}

#music{
    display: none;
}

@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .top {
        display: inline-flex;
    }

    .about a:visited{
        color: var(--tertiary);
    }
    

    #contact a {
        font-size: 1.1em;
        right: 4%;
    }

    #themeSwitcherButton {
        font-size: 1.1em;
        left: 4%;
    }

    .about {
        position: relative;
        display: block;
        margin-left: 3%;
        left: 0;
        margin-top: 100px;
        margin-right: 3%;
        font-size: 1em;
    }

    .landing {
        left: 0;
    }

    .landing #supermainheading{
        top: 2%;
        font-size: 3em;
        left: 0;
        text-align: center;
    }

    .links {
        position: absolute;
        display: flex;
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .links a img {
        display: inline-grid;
        width: 20px;
        height: 20px;
    }
}