:root {
    --primary: #EEEEEE;
    --secondary: #EFEFEF;
    --tertiary: #ea168e;
    --light-bg: #555555;
    --dark-bg: #111111;
}

body {
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.2s;
    background-color: var(--dark-bg);
    margin: 0;
}

.top {
    position: absolute;
    min-height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing {
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.landing #picofme {
    text-align: center;
    display: inline-block;  
}

.landing #picofme img {
    border-radius: 20px;
    width: 200px;
    display: inline-block;
    height: 200px;
}

.landing #supermainheading {
    padding: 10px;
}

.landing #supermainheading h1{
    font-family: 'Playfair Display', sans-serif;
    color: var(--secondary);
    font-weight: 900;
    font-size: 60px;
    margin: 0;
}

#introdesc {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 35%;
    padding-top: 25px;
    font-family: "Playfair Display";
    color: var(--tertiary);
    font-size: 20px;
    min-width: 75%;
}

.title {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--primary);
}

.home-button {
    text-align: left !important;
    display: inline;
    position: fixed;
    top: 3%;
    left: 10%;
}

pre {
    font-family: 'Merriweather';
    font-weight: 300;
    color: var(--primary);
}

.about {
    position: absolute;
    transition: ease-in-out 0.2s;
    margin-top: 50px;
    color: var(--primary);
    display: inline-block;
    font-family: 'Poppins';
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-weight: 400;

}

.about h3 {
    text-align: left;
}

.about p{
    margin: 0;
    text-align: left;
    display: inline;
}

.about #highlight a {
    text-decoration: none;
}

.about a:visited{
    color: var(--tertiary);
}


.about #highlight{
    color: var(--tertiary);
    display: inline-grid;
    font-weight: 500;
}

.links {
    top: 25%;
    position: fixed;
    right: 5%;
    vertical-align: middle;
}

.links a img {
    height: 25px;
    filter: brightness(1000%);
    width: 25px;
}

.links a {
    padding: 10px;
    margin: 10px;
    transition: ease-out 0.2s;
    display: flex;
    background-color: var(--tertiary);
    border-radius: 10px;
}
.links a:hover {
    transition: ease-in 0.2s;
    filter: none;
    background-color: var(--light-bg);
    
}

#personalize {
    display: inline;
}

.type-container{
    text-align: center;
    color: var(--primary);
    font-family: "Merriweather";
    padding: 1% 2%;
    border: 4px solid var(--primary);
    border-radius: 15px;
    margin: 10% 20%;
}

.type-container h1, h2{
    font-family: "Poppins";
    display: inline-block;
}


.type-container .card-wrapper {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--secondary);
    border-radius: 15px;
    display: inline-block;
}

.type-container .card-wrapper img {
    width: 300px;
    height: 300px;
    margin: 2%;
}
.type-container .card-wrapper p {
    margin: 0 25%;

}

@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .about {
        position: relative;
        display: block;
        margin: 0;
        padding: 10px;
        left: 0;
        font-size: 0.75em;
    }

    .landing {
        position: relative;
        left: 0;
    }

    .landing #picofme {
        min-width: 100%;
        text-align: center;
    }

    .landing #picofme img{
        padding: 5%;
        width: 150px;
        height: 150px;
        border-radius: 30px;
    }

    .landing #supermainheading h1{
        font-size: 2em;
        text-align: center;
        left: 0;
    }

    .links {
        left: 0;
        text-align: center;
        position: relative;
        top: 0;
    }

    .links a {
        display: inline-block;
        text-align: center;
        margin: 5px;
        padding: 7px;
        width: 15px;
        height: 15px;
    }

    .links a img {
        width: 15px;
        height: 15px;
    }

    .type-container{
        text-align: center;
        color: var(--primary);
        font-family: "Merriweather";
        padding: 1% 5%;
        border-radius: 15px;
        margin: 2%;
    }

    .type-container .card-wrapper p {
        width: 100%;
        margin: 0;
    }

    .type-container .card-wrapper img {
        width: 150px;
        height: 150px;
        margin: 2%;
    }

    .landing a {
        font-size: 0.75rem;
        margin-left: 2%;
        margin-top: 25%%;
        display: inline-block;
    }

    .home-button {
        position: absolute;
    }
}
