:root {
    --bg: #000;
    --primary: #9eff00;
}

@font-face {
    font-family: "STRRETCH SANS FREE";
    src: url("fonts/STRRETCHSANSFREE.ttf");
}

@font-face {
    font-family: "Aemstel";
    src: url("fonts/Aemstel-Regular.otf");
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg);
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 0 5vw;
}

.checks-top {
    position: absolute;
    right: 5vw;
    top: 5vh;
    transition: 0.2s;
}

.social-link {
    stroke: var(--primary);
    width: 30px;
    height: 30px;
    margin: 10px 0;
    transition: 0.5s;
}

.social-link:hover {
    width: 35px;
    height: 35px;
    transition: 0.1s;
    stroke: aliceblue;
}

.checks-bottom {
    position: absolute;
    right: 5vw;
    top: 85vh;
    transition: 0.2s;
}

.checks-bottom:hover {
    transform: rotate(90deg);
}

.heading-wrapper{
    position: absolute;
    height: 50vh;
    top: 40vh;
    z-index: 0;
    left: 5vw;
    font-size: 1.75rem;
}

.stroke-head {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-fill-color: var(--bg);
    margin-top: -35px;
    font-family: "STRRETCH SANS FREE";
    margin-bottom: 0;
}

.fill-head {
    color: var(--primary);
    font-family: "STRRETCH SANS FREE";
    margin-top: -35px;
}

.landing-bottom {
    position: absolute;
    top: 70vh;
    left: 5vw;
}

.scroll-text {
    font-family: "STRRETCH SANS FREE";
    color: var(--primary);
}

.about-content {
    color: white;
    font-family: "Poppins";
    margin-left: 5vw;
    font-size: 1rem;
    line-height: 30px;
}

#content h1 {
    font-size: 1.7rem;
    font-family: "Aemstel";
    color: var(--primary);
}

.text-highlight { 
    color: var(--primary);
    transition: 0.2s;
    font-weight: bold;
}

.text-highlight:hover {
    background-color: var(--primary);
    font-weight: bold;
    color: var(--bg);
}

.card-container {
    width: 90vw;
    text-align: center;
}

.card-container .card {
    display: inline-grid;
    border: 1px solid var(--primary);
    margin: 25px;
    width: 20vw;
    padding: 25px;
    transition: 0.2s;
}

.card-links {
    text-align: center;
}

.card h2 {
    color: var(--primary);
    font-family: "STRRETCH SANS FREE";
    font-size: 1rem;
    margin-top: 5px;
}

.card li {
    color: var(--primary);
    text-align: left;
    font-family: "Poppins";
}

.card p{
    color: white;
    font-family: "Poppins";
    text-align: right;

}

.card:hover {
    transform: translateY(5px);
    border-width: 2px;
    transition: 0.5s;
}

.work-link {
    stroke: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.work-link:hover {
    stroke: var(--primary);
    width: 35px;
    height: 35px;
}

@media(max-width: 1000px) {

    svg {
        width: 25px;
        height: 25px;
    }

    .checks-top {
        right: 5vw;
    }

    .checks-bottom {
        right: 8vw;
        top: 90vh;
    }

    .heading-wrapper {
        top: 50vh;
        font-size: 1.3rem;
    }

    .landing-bottom {
        top: 85vh;
    }

    #content {
        padding-top: 0;
    }

    #content h1 {
        margin-top: 0;
    }

    .scroll-text {
        font-size: 1rem;
    }

    h2 {
        position: relative;
        margin: 0;
        left: 0;
    }
    
    section {
        padding: 5vw;
    }
    .about-content {
        position: relative;
        font-size: 1rem;
        line-height: inherit;
    }

    .card-container {
        position: relative;
        text-align: center;
        margin: 0;
    }

    .card-container .card {
        text-align: center;
        width: 80vw;
        margin: 10px 0;
        height: inherit;
        padding: 5px;
    }

    .card p {
        text-align: center;
    }

    .social-link {
        width: 20px;
        height: 20px;
    }

    .social-link:hover {
        width: 25px;
        height: 25px;
    }
}