@font-face {
    font-family: "Fira Code";
    src: url(../css/fonts/FiraCode-Regular.ttf);
}

@font-face {
    font-family: "Fira Code Medium";
    src: url(../css/fonts/FiraCode-Medium.ttf);
}

body {
    font-family: "Fira Code", monospace;
    font-size: normal;
    color: #0A0908;
    background-color: #0A0908;
    margin: 0;
}

.window button {
    border: none;
    background-color: #14d63b;
    font-size: 1.25rem;
    color: white
}

.section {
    background-color: #DFF3E3;
    color: #0A0908;
    box-shadow: #DFF3E3 0px 0px 10px;
    border-radius: 5px;
}

.link {
    color: #14d63b;
}

.link:hover {
    color: white;
    text-decoration: underline;
    background-color: #8D3B72;
}

.window {
    background-color: #111111;
    border: 2px solid #14d63b;
    color: #14d63b;
    box-shadow: #14d63b 0px 0px 10px;
    border-radius: 5px;
    margin: 2vh 2vw;
    height: 95vh;
}

.window-container {
    overflow-y: scroll;
    height: 92%;
    padding: 10px;
}

.section h2 {
    margin: 0;
    padding: 0;
}

.card-container {
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    border: #002531 dashed 1px;
    padding: 10px 20px;
    width: 40%;
    margin: 2.5% 0 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p, .card h3 {
    margin: 0;
    padding: 0;
}

.background-plum {
    background-color: #8D3B72;
}

.background-green {
    background-color: #345511;
}

.background-blue {
    background-color: #058fbd;
    color: #002531;
}

.highlight {
    color: #8D3B72;
}


pre {
    font-family: "Fira Code", monospace;
}

.title {
    font-size: 1.1rem;
    font-family: "Fira Code Medium", monospace;
}

.skill {
    border: 1px dashed #14d63b;
    /* width: 10%; */
    margin: 5px;
    padding: 5px 20px;
}

.skill:hover {
    background-color: #14d63b;
    color: #0A0908;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0A0908;
}

::-webkit-scrollbar-thumb {
    background: #14d63b;
}

/* styles for mobile devices */

@media(max-width: 600px) {
    body {
        font-size: 0.8rem;
        background-color: #14d63b;
    }

    .window-container {
        height: 90%;
        
    }

    .window {
        /* max-width: 100vw; */
    }
}