:root {
    --primary: #00b3ff;
    --secondary: #1EAFED;
    --tertiary: #ea168e;
    --light-bg: #E3F5FD;
    --dark-bg: #080708;
}

body {
    background-color: var(--light-bg);
    transition: ease-in-out 0.2s;
}

*body {
    transition: 0.5s;
    min-width: 50%;
    max-width: 75%;
    max-height: 100%;
    display: inline-grid;
    overflow-x: hidden;
}

.landing {
    position: relative;
    top: 15%;
    display: flex;
    min-height: 30%;
    width: 100%;
    width: 100%;
}

*.landing {
}

.top {
    position: absolute;
    min-height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top #contact a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--tertiary);
    font-weight: 700;
    display: inline-grid;
    position: absolute;
    font-size: 1.25em;
    top: 30px;
    min-height: 100%;
    right: 20%;
    
}

.top #themeSwitcherButton {
    font-family: 'Poppins';
    color: white;
    font-weight: 700;
    display: inline-grid;
    position: absolute;
    transform: translateY(-20%);
    font-size: 1.25em;
    top: 30px;
    left: 20%;
    background-color: var(--tertiary);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.landing #supermainheading {

    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    color: var(--secondary);
    font-weight: 900;
    font-size: 70px;
    min-width: 100%;
    margin-bottom: auto;
}

#introdesc {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 35%;
    padding-top: 25px;
    font-family: "Playfair Display";
    color: var(--tertiary);
    font-size: 20px;
    min-width: 75%;
}

.title {
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--primary);
}

pre {
    font-family: 'Merriweather';
    font-weight: 300;
    color: var(--primary);
}

.about {
    position: absolute;
    transition: ease-in-out 0.2s;
    margin-top: 50px;
    color: var(--primary);
    display: inline-block;
    font-family: 'Poppins';
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    font-weight: 400;

}

.about h3 {
    text-align: justify;
}

.about p{
    text-align: justify;
}

.about a:visited{
    color: var(--tertiary);
}


.about #highlight{
    color: var(--tertiary);
    display: inline-grid;
    font-weight: 500;
}

.links {
    display: inline-block;
    position: fixed;
    right: 5%;
    vertical-align: middle;
}

.links img {
    width: 30px;
    height: 30px;
    padding: 10px;
    filter: invert(60%) sepia(91%) saturate(773%) hue-rotate(166deg) brightness(95%) contrast(96%);
    transition: ease-out 0.2s;
    display: flex;
}

.links img:hover {
    transition: ease-in 0.2s;
    filter: invert(24%) sepia(97%) saturate(5513%) hue-rotate(314deg) brightness(94%) contrast(95%);
}

#personalize {
    display: inline;
}

@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .top {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
    }

    .about a:visited{
        color: var(--tertiary);
    }
    

    #contact a {
        font-size: 1.1em;
        right: 4%;
    }

    #themeSwitcherButton {
        font-size: 1.1em;
        left: 4%;
    }

    .about {
        position: absolute;
        display: block;
        margin-left: 3%;
        left: 0;
        margin-right: 3%;
        font-size: 1em;
    }

    .landing #supermainheading{
        font-size: 3em;
    }

    .links {
        position: absolute;
        display: flex;
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .links img {
        display: inline-grid;
        width: 25px;
        height: 25px;
    }
}