*body {
    min-width: 50%;
    max-width: 75%;
    max-height: 100%;
    display: inline-grid;
    overflow-x: hidden;
}

.landing {
    display: flex;
    min-height: 35%;
    min-width: 50%;
    max-width: 75%;
}

*.landing {
    padding: 10px;
}

#rajatportal_icon a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fe346e;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 25%;
    display: inline-grid;
}

#contact a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fe346e;
    font-weight: 700;
    display: inline-grid;
    position: absolute;
    top: 30px;
    right: 25%;
    
}

#supermainheading {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 20%;
    left: 0;
    font-family: 'Playfair Display', sans-serif;
    color: #111d5e;
    font-weight: 900;
    font-size: 70px;
    min-width: 100%;
    margin-bottom: auto;
}

#introdesc {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 35%;
    padding-top: 25px;
    font-family: "Playfair Display";
    color: #fe346e;
    font-size: 20px;
    min-width: 100%;
}

.separator {
    display: inline-table;
    min-width: 100%;
    padding-top: 45%;
}

.title {
    font-family: 'Poppins';
    font-weight: 600;
    color: #111d5e;
}

pre {
    font-family: 'Merriweather';
    font-weight: 300;
    color: #111d5e;
}

.about {
    color: #111d5e;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;

}

.about #highlight{
    color: #fe346e;
    display: inline-grid;
    
}

@media only screen and (max-width: 1000px) {
    .about {
        position: absolute;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 1em;
    }

    #supermainheading{
        font-size: 3em;
    }
}