*body {
    min-width: 50%;
    max-width: 75%;
    max-height: 100%;
    display: inline-grid;
    overflow-x: hidden;
}

.landing {
    display: flex;
    min-height: 35%;
    min-width: 50%;
    max-width: 75%;
}

*.landing {
    padding: 10px;
}

#rajatportal_icon a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fe346e;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 30px;
    display: inline-grid;
}

#contact a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fe346e;
    font-weight: 700;
    display: inline-grid;
    position: absolute;
    top: 30px;
    right: 30px;
    
}

#supermainheading {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 20%;
    left: 0;
    font-family: 'Poppins', sans-serif;
    color: #111d5e;
    font-weight: 900;
    font-size: 70px;
    min-width: 100%;
}

#introdesc {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 35%;
    padding-top: 25px;
    font-family: "Playfair Display";
    color: #fe346e;
    font-size: 20px;
    min-width: 100%;
}

.separator {
    display: inline-table;
    min-width: 100%;
    padding-top: 45%;
}

.title {
    font-family: 'Poppins';
    font-weight: 600;
    color: #111d5e;
}

pre {
    font-family: 'Merriweather';
    font-weight: 300;
    color: #111d5e;
}

.about {
    left: 30%;
    color: #111d5e;
    display: inline-block;
    padding-left: 10%;
    font-family: 'Playfair Display';

}